<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Image Transform</title>
      {% else %}
      <title>Welcome to Image Transform</title>
      {% endif %}
    </head>
    <body>
        <div>Image Transform: 
          <a href="/index">Home</a>
          <a href="/login">Login</a>
        </div>
        <hr>
        {% with msgs = get_flashed_messages() %}
        {% if msgs %}
        <ul>
          {% for msg in msgs %}
          <li>{{ msg }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>